fondo(color)
  background-color color

opacidad(valor)
  opacity valor

.puede-ser-largo
  word-break break-all

.centrar-texto
  text-align center

.marg-right
  margin-right .2rem

.marg-left
  margin-left .2rem
