@media only screen and (min-width: 960px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.68rem - 0.2rem);
  }
}
@media only screen and (min-width: 930px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.656rem - 0.2rem);
  }
}
@media only screen and (min-width: 900px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.632rem - 0.2rem);
  }
}
@media only screen and (min-width: 870px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.608rem - 0.2rem);
  }
}
@media only screen and (min-width: 840px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.584rem - 0.2rem);
  }
}
@media only screen and (min-width: 810px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.56rem - 0.2rem);
  }
}
@media only screen and (min-width: 780px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.536rem - 0.2rem);
  }
}
@media only screen and (min-width: 750px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.512rem - 0.2rem);
  }
}
@media only screen and (min-width: 720px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.488rem - 0.2rem);
  }
}
@media only screen and (min-width: 690px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.464rem - 0.2rem);
  }
}
@media only screen and (min-width: 660px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.44rem - 0.2rem);
  }
}
@media only screen and (min-width: 630px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.416rem - 0.2rem);
  }
}
@media only screen and (min-width: 600px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.392rem - 0.2rem);
  }
}
@media only screen and (min-width: 570px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.368rem - 0.2rem);
  }
}
@media only screen and (min-width: 540px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.344rem - 0.2rem);
  }
}
@media only screen and (min-width: 510px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.32rem - 0.2rem);
  }
}
@media only screen and (min-width: 480px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.296rem - 0.2rem);
  }
}
@media only screen and (min-width: 450px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.272rem - 0.2rem);
  }
}
@media only screen and (min-width: 420px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.248rem - 0.2rem);
  }
}
@media only screen and (min-width: 390px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.224rem - 0.2rem);
  }
}
@media only screen and (min-width: 360px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: calc(1.2rem - 0.2rem);
  }
}
@media only screen and (min-width: 960px) {
  .mat-card-header .mat-card-title {
    font-size: 1.68rem;
  }
}
@media only screen and (min-width: 930px) {
  .mat-card-header .mat-card-title {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 900px) {
  .mat-card-header .mat-card-title {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 870px) {
  .mat-card-header .mat-card-title {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 840px) {
  .mat-card-header .mat-card-title {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 810px) {
  .mat-card-header .mat-card-title {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 780px) {
  .mat-card-header .mat-card-title {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 750px) {
  .mat-card-header .mat-card-title {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 720px) {
  .mat-card-header .mat-card-title {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 690px) {
  .mat-card-header .mat-card-title {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 660px) {
  .mat-card-header .mat-card-title {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 630px) {
  .mat-card-header .mat-card-title {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 600px) {
  .mat-card-header .mat-card-title {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 570px) {
  .mat-card-header .mat-card-title {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 540px) {
  .mat-card-header .mat-card-title {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 510px) {
  .mat-card-header .mat-card-title {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 480px) {
  .mat-card-header .mat-card-title {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 450px) {
  .mat-card-header .mat-card-title {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 420px) {
  .mat-card-header .mat-card-title {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 390px) {
  .mat-card-header .mat-card-title {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 360px) {
  .mat-card-header .mat-card-title {
    font-size: 1.2rem;
  }
}
