// Fuente Nunito - Versión Regular y Bold
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Fuente de Íconos - Material
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

// Colores disponibles
@import 'colores.styl'
// Ayudas normales
@import 'ayudas.styl'

html, body
  margin 0

md-card
  border 1px solid mat_grey_300

// Solo por motivos de organización
@import 'botones.styl'

// Responsividad
@import 'responsividad.styl'
