@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.puede-ser-largo {
  word-break: break-all;
}
.centrar-texto {
  text-align: center;
}
.mat-toolbar h1,
.mat-toolbar a {
  color: #fff;
}
.marg-right {
  margin-right: 0.2rem;
}
.marg-left {
  margin-left: 0.2rem;
}
md-card {
  border: 1px solid #e0e0e0;
}
md-card md-card-actions {
  display: flex !important;
  justify-content: flex-end;
}
.exito,
.neutro,
.alterno {
  transition: background-color 0.85s;
}
.exito:hover,
.neutro:hover,
.alterno:hover {
  transition: background-color 0s;
}
.exito .mat-button-focus-overlay,
.neutro .mat-button-focus-overlay,
.alterno .mat-button-focus-overlay {
  display: none;
}
.exito span,
.neutro span,
.alterno span {
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.87) !important;
}
.exito:hover {
  background-color: #f0ebf9;
}
.exito:hover .material-icons {
  color: #673ab7;
}
.neutro:hover {
  background-color: #f0ffde;
}
.neutro:hover .material-icons {
  color: #b2ff59;
}
.alterno:hover {
  background-color: #feeceb;
}
.alterno:hover .material-icons {
  color: #f44336;
}
@media only screen and (min-width: 960px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1.13rem;
  }
}
@media only screen and (min-width: 930px) and (max-width: 959px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1.106rem;
  }
}
@media only screen and (min-width: 900px) and (max-width: 929px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1.082rem;
  }
}
@media only screen and (min-width: 870px) and (max-width: 899px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1.058rem;
  }
}
@media only screen and (min-width: 840px) and (max-width: 869px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1.034rem;
  }
}
@media only screen and (min-width: 810px) and (max-width: 839px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1.01rem;
  }
}
@media only screen and (min-width: 780px) and (max-width: 809px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 750px) and (max-width: 779px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 749px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 690px) and (max-width: 719px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 660px) and (max-width: 689px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 630px) and (max-width: 659px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 629px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 570px) and (max-width: 599px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 540px) and (max-width: 569px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 510px) and (max-width: 539px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 509px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 450px) and (max-width: 479px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 449px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 390px) and (max-width: 419px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 360px) and (max-width: 389px) {
  html,
  .mat-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .matCardSubtitle,
  .matDialogActions,
  .matDialogClose,
  .matDialogContent,
  .matDialogTitle,
  .matLine,
  .matTabLabel,
  .matTabLink,
  .matTabNav,
  .matTooltip,
  .mat-autocomplete,
  .mat-button-toggle,
  .mat-button-toggle-group,
  .mat-card,
  .mat-card-actions,
  .mat-card-content,
  .mat-card-footer,
  .mat-card-header,
  .mat-card-subtitle,
  .mat-card-title,
  .mat-card-title-group,
  .mat-cell,
  .mat-checkbox,
  .mat-chip,
  .mat-dialog-actions,
  .mat-dialog-container,
  .mat-dialog-content,
  .mat-divider,
  .mat-error,
  .mat-grid-list,
  .mat-grid-tile,
  .mat-grid-tile-footer,
  .mat-grid-tile-header,
  .mat-header-cell,
  .mat-hint,
  .mat-icon,
  .mat-list,
  .mat-list-item,
  .mat-menu,
  .mat-nav-list,
  .mat-option,
  .mat-placeholder,
  .mat-progress-bar,
  .mat-pseudo-checkbox,
  .mat-radio-button,
  .mat-radio-group,
  .mat-row,
  .mat-select,
  .mat-sidenav,
  .mat-sidenav-container,
  .mat-slider,
  .mat-spinner,
  .mat-tab,
  .mat-table,
  .mat-tab-group,
  .mat-toolbar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.68rem;
  }
}
@media only screen and (min-width: 930px) and (max-width: 959px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 900px) and (max-width: 929px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 870px) and (max-width: 899px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 840px) and (max-width: 869px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 810px) and (max-width: 839px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 780px) and (max-width: 809px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 750px) and (max-width: 779px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 749px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 690px) and (max-width: 719px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 660px) and (max-width: 689px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 630px) and (max-width: 659px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 629px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 570px) and (max-width: 599px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 540px) and (max-width: 569px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 510px) and (max-width: 539px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 509px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 450px) and (max-width: 479px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 449px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 390px) and (max-width: 419px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 360px) and (max-width: 389px) {
  .mat-card-header .mat-card-title,
  .mat-toolbar h1 {
    font-size: 1.2rem;
  }
}
