.tarjeta-heroe
  md-card-header
    display flex
    justify-content center

    md-card-title
      text-transform uppercase
      font-weight bold

  md-card-content
    display grid
    grid-template-columns auto 1fr
    grid-gap 0 1rem
    margin-bottom 0

    p
      margin 0

    span, label
      text-transform capitalize
      font-weight bold
      text-align right

  md-card-actions
    text-align right
    button
      text-transform uppercase
