tarjeta
  p
    margin 0

  span, label
    text-transform capitalize
    font-weight bold
    text-align right

  cuerpo-de-la-tarjeta
    display grid
    grid-template-columns auto 1fr
    grid-gap 0 1rem
    margin-bottom 0
    
  pie-de-la-tarjeta
    display flex
    justify-content flex-end
