<tarjeta titulo="{{heroe.nombre}}">
  <cuerpo-de-la-tarjeta>
    <span>id</span>
    <p>{{heroe.id}}</p>
    <span>nombre</span>
    <p class="puede-ser-largo">{{heroe.nombre}}</p>
    <span>salvaciones</span>
    <p>{{heroe.salvaciones | decimales}}</p>
    <label>Nombre</label>
    <input [(ngModel)]="heroe.nombre" placeholder="Nombre del Héroe">
  </cuerpo-de-la-tarjeta>
  <pie-de-la-tarjeta>
    <button md-button class="boton alterno" color="warn">
      <i class="material-icons marg-right">arrow_back</i>
      <span>Volver</span>
    </button>
    <button md-button class="boton exito" color="primary">
      <span>Editar</span>
      <i class="material-icons marg-left">mode_edit</i>
    </button>
  </pie-de-la-tarjeta>
</tarjeta>
