md-card
  margin-top 1rem

  md-card-header
    display flex
    justify-content center

    md-card-title
      text-transform uppercase
      font-weight bold

  md-card-actions
    text-align right

