md-chip.item
  display flex !important
  align-items center
  padding 0

  &:hover
    transform translateX(.5rem)

  .borde
    background-color #EA80FC
    border-radius 50% 0 0 50%
    padding .5rem
    transform scale(1.1)
    color black

  span
    margin-left .5rem
    font-weight bold

